In [4]:
string="aBc"      #capitalize first character of string
string.capitalize()

'Abc'

In [7]:
string.casefold() #Return a version of the string suitable for caseless comparisons.

'abc'

In [2]:
string="aBc" 
string.center(20)#Return a centered string of length width.

'        aBc         '

In [23]:
string.center(20,'#')#by default the fillchar is space,can use any character

'########aBc#########'

In [29]:
len(string) #Return the number of items in a container.

3

In [30]:
string ="          abc        " #remove white spaces
string.strip()

'abc'

In [32]:
string ="ABC"
string.lower()       # returns the string in lower case:

'abc'

In [33]:
string="abc"
string.upper()#returns the string in upper case

'ABC'

In [34]:
string.replace("a","n")#replaces a string with another string:

'nbc'

In [38]:
string="hello, i am ,student"
string.split(",")# splits the string into substrings if it finds instances of the separator

['hello', ' i am ', 'student']

In [39]:
string="hello, i am ,student"
string.split(" ")# splits the string into substrings if it finds instances of the separator

['hello,', 'i', 'am', ',student']

In [42]:
string = "i am a student"
string.count("i")    #returns number of occurence of a character or string

1

In [47]:
string.encode() #encode the string( the sequence of code points are converted into set of bytes)

b'i am a student'

In [49]:
string.endswith("ent") #Return True if String ends with the specified suffix, False otherwise.

True

In [56]:
string="abc\txyz\ta"
string.expandtabs(10)  #returns a string where all '\t' characters are replaced with whitespace default size is 8

'abc       xyz       a'

In [4]:
string="student of PIAIC"
string.find("PIA")  #returns lowest index in String where substring sub is fou

11

In [16]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))  
                #takes unlimited number of arguments, and are placed into the respective placeholders:

I want 3 pieces of item 567 for 49 dollars.

In [73]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {2} pieces of item {0} for {1} dollars."
print(myorder.format(quantity, itemno, price))  
                #takes unlimited number of arguments, and are placed into the respective placeholders:

I want 49.95 pieces of item 3 for 567 dollars.

In [18]:
 point = {'x':4,'y':-5}
print('{x} {y}'.format_map(point))
#The format_map() method is similar to str.format(**mapping) except that
#str.format(**mapping) creates a new dictionary whereas str.format_map(mapping) doesn't.

4 -5

In [21]:
string.index('PIA')  #Return the lowest index in String where substring is found,

11

In [24]:
print(string.isalnum()) #Return True if the string is an alpha-numeric string, False otherwise.
string1="abc123"
string1.isalnum()

False

True

In [28]:
string="student"
string.isalpha() #Return True if the string is an alphabetic string, False otherwise.

True

In [32]:
string="student of PIAIC"
string.isascii() #Return True if all characters in the string are ASCII, False otherwise

True

In [44]:
print(string.isdecimal()) #Return True if the string is a decimal string, False otherwise.
string1="123"
string1.isdecimal()

False

True

In [45]:
print(string1)
string1.isdigit() #Return True if the string is a digit string, False otherwise.

123

True

In [46]:
string="str"
string.isidentifier() #Return True if the string is a valid Python identifier, False otherwise.

True

In [47]:
string="student"
string.islower()  #Return True if the string is a lowercase string, False otherwise.

True

In [48]:
string="PIAIC"
string.isupper()  #Return True if the string is an uppercase string, False otherwise.

True

In [49]:
string="12345"
string.isnumeric() #Return True if the string is a numeric string, False otherwise.

True

In [52]:
print(string.isprintable()) #Return True if the string is printable, False otherwise.
string1="STUDENT\nPIAIC"
print(string1.isprintable())

True
False

In [53]:
print(string.isspace()) #Return True if the string is a whitespace string, False otherwise.
string1="    "
print(string1.isspace())

False
True

In [66]:
print(string.istitle())            #Check if each word start with an upper case letter:
string1="Hello, And Welcome To My World!"
print(string1.istitle())

False
True

In [73]:
string1={"cat","dog","donkey"}
a="0"
a.join(string1)        #Concatenate any number of strings.

'cat0donkey0dog'

In [81]:
string="            12345" 
string.lstrip()  #Returns a left trim version of the string

'12345'

In [82]:
string="i am a student of PIAIC"
string.partition("student")   #Returns a tuple where the string is parted into three parts

('i am a ', 'student', ' of PIAIC')

In [85]:
string.rfind('PIA') #Searches the string for a specified value and returns the last position of where it was found

18

In [86]:
string.rindex('PIA') #Searches the string for a specified value and returns the last position of where it was found

18

In [88]:
string1="student"
string1.rjust(20)  #Returns a right justified version of the string

'             student'

In [92]:
string.rpartition("student")   #Returns a tuple where the string is parted into three parts

('i am a ', 'student', ' of PIAIC')

In [94]:
string.rsplit(" ")   #Splits the string at the specified separator, and returns a list

['i', 'am', 'a', 'student', 'of', 'PIAIC']

In [95]:
string="          student              "
string.rstrip()  #Returns a right trim version of the string

'          student'

In [97]:
string=" student of \n PIAIC"
string.splitlines() #Splits the string at line breaks and returns a lis

[' student of ', ' PIAIC']

In [99]:
string="student of PIAIC"
string.startswith("stu")  #eturns true if the string starts with the specified value

True

In [100]:
string.swapcase()   #Swaps cases, lower case becomes upper case and vice versa

'STUDENT OF piaic'

In [104]:
string.title()   #Converts the first character of each word to upper case

'Student Of Piaic'

In [113]:
string="50"
string.zfill(10)    #Fills the string with a specified number of 0 values at the beginning

'0000000050'